<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center">

</div>
<div class="container-fluid mt--7">
    <div class="row">
        <div class="col-xl-12 order-xl-1">
            <div class="card bg-secondary shadow">
                <div class="card-header bg-white border-0">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <h3 class="mb-0">{{title}}</h3>
                        </div>

                    </div>
                </div>
                <div class="card-body">
                    <form [formGroup]="restaurantDishForm">
                        <div class="pl-lg-4">

                            <div class="row">
                                <div class="col-lg-5">
                                    <div class="form-group">
                                        <input type="text" id="restaurantDishId" name="restaurantDishId" hidden>
                                        <label class="form-control-label" for="restaurant">Restaurant</label>
                                        <div class="col-md-7">
                                            <ng-select id="restaurant" formControlName="restaurant"
                                                placeholder="-Select Restaurant-"
                                                (change)="onRestaurantChange($event)"
                                                (search)="loadRestaurantList()"
                                                (scrollToEnd)="onRestaurantScrollToEnd()">
                                                <ng-option *ngFor="let restaurant of restaurantList"
                                                    [value]="restaurant.id">
                                                    {{restaurant.name}}
                                                </ng-option>
                                            </ng-select>
                                            <div class="text-danger float-end"
                                                *ngIf="restaurantDishForm['controls']['restaurant'].errors?.['required'] && restaurantDishForm['controls']['restaurant'].touched">
                                                *Restaurant Required</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label class="form-control-label" for="parentFeature">Dish</label>
                                        <div class="col-md-7">
                                            <ng-select id="dish" formControlName="dish" placeholder="-Select Dish-"
                                                (change)="onDishChange($event)" (search)="loadDishList()"
                                                (scrollToEnd)="onDishScrollToEnd()">
                                                <ng-option *ngFor="let dish of dishList" [value]="dish.id">
                                                    {{dish.name}}
                                                </ng-option>
                                            </ng-select>
                                        </div>
                                    </div>
                                    <div class="text-danger float-end"
                                        *ngIf="restaurantDishForm['controls']['dish'].errors?.['required'] && restaurantDishForm['controls']['dish'].touched">
                                        *Dish Required.
                                    </div>

                                </div>
                                <div class="col-lg-2">
                                    <div class="form-group">
                                        <label class="form-control-label">Status</label>

                                        <div class="custom-control custom-radio mb-3">
                                            <input class="custom-control-input" id="active" formControlName="status"
                                                type="radio" value="Active">
                                            <label class="custom-control-label" for="active">Active</label>
                                        </div>
                                        <div class="custom-control custom-radio">
                                            <input class="custom-control-input" id="inactive" formControlName="status"
                                                type="radio" value="Inactive">
                                            <label class="custom-control-label" for="inactive">Inactive</label>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="row">                               
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-control-label"></label>
                                        <img [src]="restaurantPreview" class="img-fluid rounded">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-control-label"></label>
                                        <img [src]="dishPreview" class="img-fluid rounded">
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="pl-lg-4">
                            <button *ngIf="!isUpdateMode" type="button" class="btn btn-success"
                                (click)="submit()">Save</button>
                            <button *ngIf="isUpdateMode" type="button" class="btn btn-warning"
                                (click)="update()">Update</button>
                            <button *ngIf="isUpdateMode" type="button" class="btn btn-danger float-right ml-2"
                                (click)="delete()">Delete</button>
                            <button type="button" class="btn btn-primary float-right"
                                (click)="resetForm()">Reset</button>
                        </div>


                    </form>

                </div>
            </div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col">
            <div class="card shadow">
                <div class="card-header border-0">
                    <h3 class="mb-0">Restaurant wise dish list</h3>
                </div>

                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Restaurant</th>
                                <th scope="col">Restaurant Image</th>
                                <th scope="col">Dish</th>
                                <th scope="col">Dish Image</th>
                                <th scope="col">Status</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="restaurantDishList?.length != 0">
                            <tr *ngFor="let restaurantDish of restaurantDishList; let i = index"
                                style="cursor:pointer" (click)="onSelectRow(restaurantDish, i)"
                                [ngClass]="{'selectedRow' : i == selectedRowIndex}">
                                <td>{{restaurantDish.restaurant.name}}</td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <img [src]=restaurantDish.restaurant.imageBlob alt="" style="width: 100px; height: 100px"
                                            class="rounded-circle" />
                                    </div>
                                </td>
                                <td>{{restaurantDish.foodDish.name}}</td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <img [src]=restaurantDish.foodDish.imageBlob alt="" style="width: 100px; height: 100px"
                                            class="rounded-circle" />
                                    </div>
                                </td>
                                <td class="align-middle text-left text-sm">
                                    <span
                                        [ngClass]="restaurantDish.status=='Active'? 'badge badge-sm badge-success':'badge badge-sm badge-danger'">{{restaurantDish.status}}</span>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>


</div>